GIGWebServiceWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions targetNamespace="http://gig.ws.iface" 
		xmlns:ns1="http://org.apache.axis2/xsd"
		xmlns:ns="http://gig.ws.iface"
		xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
		xmlns:ax25="http://types.gig.ws.iface/xsd"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
		xmlns:ax23="http://rsp.gig.ws.iface/xsd"
		xmlns:ax21="http://req.gig.ws.iface/xsd" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
		xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	
		<wsdl:documentation>GIGWebService</wsdl:documentation>
		<wsdl:types>
			<xs:schema attributeFormDefault="qualified" 
			elementFormDefault="qualified" 
			targetNamespace="http://gig.ws.iface" 
			xmlns:ax22="http://req.gig.ws.iface/xsd" 
			xmlns:ax24="http://rsp.gig.ws.iface/xsd">
				<xs:import namespace="http://req.gig.ws.iface/xsd"/>
				<xs:import namespace="http://rsp.gig.ws.iface/xsd"/>
				
				<xs:element name="getBAApplcation">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="request" nillable="true" type="ax22:GetBAApplcationRequest"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="getBAApplcationResponse">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="return" nillable="true" type="ax24:GetBAApplcationResponse"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="calcISTProjection">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="request" nillable="true" type="ax22:CalcISTProjectionRequest"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="calcISTProjectionResponse">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="return" nillable="true" type="ax24:CalcISTProjectionResponse"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:schema>
			
			<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://req.gig.ws.iface/xsd">
				<xs:complexType name="GenericRequest">
					<xs:sequence>
						<xs:element minOccurs="0" name="sourceId" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="terminalId" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
				<xs:complexType name="FinancialRequest">
					<xs:complexContent>
						<xs:extension base="ax21:GenericRequest">
							<xs:sequence>
								<xs:element minOccurs="0" name="institutionNumber" nillable="true" type="xs:string"/>
								<xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
								<xs:element minOccurs="0" name="merchantName" nillable="true" type="xs:string"/>
								<xs:element minOccurs="0" name="retrievalReference" nillable="true" type="xs:string"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
				<xs:complexType name="GetBAApplcationRequest">
					<xs:sequence>
						<xs:element minOccurs="0" name="applicationID" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
				<xs:complexType name="CalcISTProjectionRequest">
					<xs:sequence>
						<xs:element minOccurs="0" name="productType" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="duration" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="sumInsured" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="insuredAge" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="currency" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="firstChildAge" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="firstChildUniSumInsured" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="firstChildUniDuration" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="firstChildSchoolSumInsued" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="secondChildAge" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="secondChildUniSumInsured" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="secondChildUniDuration" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="secondChildSchoolSumInsured" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="thirdChildAge" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="thirdChildUniSumInsured" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="thirdChildUniDuration" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="thirdChildSchoolSumInsured" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="fourthChildAge" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="fourthChildUniSumInsured" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="fourthChildUniDuration" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="fourthChildSchoolSumInsured" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="firstInsuredGender" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="illustrationFrequency" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="secondInsuredGender" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="secondInsuredAge" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="secondInsured" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="TPDSumInsured" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="ADSumInsured" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="CISumInsured" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="annualIncome" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="annualIncomeDuration" nillable="true" type="xs:integer"/>
						<xs:element minOccurs="0" name="userContribution" nillable="true" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:schema>
			
			<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rsp.gig.ws.iface/xsd" xmlns:ax26="http://types.gig.ws.iface/xsd">
				<xs:import namespace="http://types.gig.ws.iface/xsd"/>

				<xs:complexType name="GenericResponse">
					<xs:sequence>
						<xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="responseMessage" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
				<xs:complexType name="GetBAApplcationResponse">
					<xs:complexContent>
						<xs:extension base="ax23:GenericResponse">
							<xs:sequence>
								<xs:element minOccurs="0" name="effectiveDate" nillable="true" type="xs:string"/>
								<xs:element minOccurs="0" name="duration" nillable="true" type="xs:string"/>
								<xs:element minOccurs="0" name="annualPremium" nillable="true" type="xs:string"/>
								<xs:element minOccurs="0" name="segmentCode" nillable="true" type="xs:string"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
				<xs:complexType name="CalcISTProjectionResponse">
					<xs:complexContent>
						<xs:extension base="ax23:GenericResponse">
							<xs:sequence>
								<xs:element minOccurs="0" name="contribution" nillable="true" type="xs:double"/>
								<xs:element minOccurs="0" name="endFund8" nillable="true" type="xs:double"/>
								<xs:element minOccurs="0" name="endFund10" nillable="true" type="xs:double"/>
								<xs:element minOccurs="0" name="dailyBenefit" nillable="true" type="xs:integer"/>
								<xs:element minOccurs="0" name="CIHContribution" nillable="true" type="xs:double"/>
								<xs:element minOccurs="0" name="childWedding" nillable="true" type="xs:integer"/>
								<xs:element minOccurs="0" name="CHDuration" nillable="true" type="xs:integer"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:schema>
		</wsdl:types>
		
		<wsdl:message name="getBAApplcationRequest">
			<wsdl:part name="parameters" element="ns:getBAApplcation"></wsdl:part>
		</wsdl:message>
		<wsdl:message name="getBAApplcationResponse">
			<wsdl:part name="parameters" element="ns:getBAApplcationResponse"></wsdl:part>
		</wsdl:message>
		<wsdl:message name="calcISTProjectionRequest">
			<wsdl:part name="parameters" element="ns:calcISTProjection"></wsdl:part>
		</wsdl:message>
		<wsdl:message name="calcISTProjectionResponse">
			<wsdl:part name="parameters" element="ns:calcISTProjectionResponse"></wsdl:part>
		</wsdl:message>
		
		<wsdl:portType name="GIGWebServicePortType">
			<wsdl:operation name="getBAApplcation">
				<wsdl:input message="ns:getBAApplcationRequest" wsaw:Action="urn:getBAApplcation"></wsdl:input>
				<wsdl:output message="ns:getBAApplcationResponse" wsaw:Action="urn:getBAApplcationResponse"></wsdl:output>
			</wsdl:operation>
			<wsdl:operation name="calcISTProjection">
				<wsdl:input message="ns:calcISTProjectionRequest" wsaw:Action="urn:calcISTProjection"></wsdl:input>
				<wsdl:output message="ns:calcISTProjectionResponse" wsaw:Action="urn:calcISTProjectionResponse"></wsdl:output>
			</wsdl:operation>
		</wsdl:portType>
		
		<wsdl:binding name="GIGWebServiceSoap12Binding" type="ns:GIGWebServicePortType">
			<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
			<wsdl:operation name="getBAApplcation">
				<soap12:operation soapAction="urn:getBAApplcation" style="document"/>
				<wsdl:input><soap12:body use="literal"/></wsdl:input>
				<wsdl:output><soap12:body use="literal"/></wsdl:output>
			</wsdl:operation>
			<wsdl:operation name="calcISTProjection">
				<soap12:operation soapAction="urn:calcISTProjection" style="document"/>
				<wsdl:input><soap12:body use="literal"/></wsdl:input>
				<wsdl:output><soap12:body use="literal"/></wsdl:output>
			</wsdl:operation>
		</wsdl:binding>
		
		<wsdl:binding name="GIGWebServiceHttpBinding" type="ns:GIGWebServicePortType">
			<http:binding verb="POST"/>
			<wsdl:operation name="getBAApplcation">
				<http:operation location="GIGWebService/getBAApplcation"/>
				<wsdl:input><mime:content part="getBAApplcation" type="text/xml"/></wsdl:input>
				<wsdl:output><mime:content part="getBAApplcation" type="text/xml"/></wsdl:output>
			</wsdl:operation>
			<wsdl:operation name="calcISTProjection">
				<http:operation location="GIGWebService/calcISTProjection"/>
				<wsdl:input><mime:content part="calcISTProjection" type="text/xml"/></wsdl:input>
				<wsdl:output><mime:content part="calcISTProjection" type="text/xml"/></wsdl:output>
			</wsdl:operation>
		</wsdl:binding>
		
		<wsdl:binding name="GIGWebServiceSoap11Binding" type="ns:GIGWebServicePortType">
			<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
			<wsdl:operation name="getBAApplcation">
				<soap:operation soapAction="urn:getBAApplcation" style="document"/>
				<wsdl:input><soap:body use="literal"/></wsdl:input>
				<wsdl:output><soap:body use="literal"/></wsdl:output>
			</wsdl:operation>
			<wsdl:operation name="calcISTProjection">
				<soap:operation soapAction="urn:calcISTProjection" style="document"/>
				<wsdl:input><soap:body use="literal"/></wsdl:input>
				<wsdl:output><soap:body use="literal"/></wsdl:output>
			</wsdl:operation>
		</wsdl:binding>
		
		<wsdl:service name="GIGWebService">
		<wsdl:port name="GIGWebServiceHttpSoap12Endpoint" binding="ns:GIGWebServiceSoap12Binding">
			<soap12:address location="http://172.16.10.16:4444/axis2/services/GIGWebService.GIGWebServiceHttpSoap12Endpoint/"/>
		</wsdl:port>
		<wsdl:port name="GIGWebServiceHttpEndpoint" binding="ns:GIGWebServiceHttpBinding">
			<http:address location="http://172.16.10.16:4444/axis2/services/GIGWebService.GIGWebServiceHttpEndpoint/"/>
		</wsdl:port>
		<wsdl:port name="GIGWebServiceHttpSoap11Endpoint" binding="ns:GIGWebServiceSoap11Binding">
			<soap:address location="http://172.16.10.16:4444/axis2/services/GIGWebService.GIGWebServiceHttpSoap11Endpoint/"/>
		</wsdl:port>
	</wsdl:service>
	</wsdl:definitions>